body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */

}




.content-container {
  max-width: 800px; /* eller en annan bredd du föredrar */
  margin: auto;
  padding: 0 20px; /* lägger till lite utrymme på sidorna */
}










header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

header p {
  color: white;
}

.logo {
  color: #fb1c1c;
  font-size: 24px;
  margin: 0;
}

.top-navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
.nav-link:hover{
  color: #fb1c1c;
}

h3 {
  font-size: 18px;
  text-align: center;
}

h1{
  font-size: 30px;
  text-align: center;
}




.metadata{
  font-size: 16px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}



.individual-NOTE{
  font-size: 15px;
  text-align: center;
  opacity: 30%;

}

.custom-link {
  color: #ff0000; /* Byt ut med den färg du önskar använda, t.ex. röd (#ff0000) */
  text-decoration: none; /* Tar bort understrykningen för länken */
}


.search-container {
  text-align: center;
  margin-top: 90px;
  
}

#search-input {
  padding: 10px;
  width: 450px;
  height: 40px;
  font-size: 16px;
  margin-right: 5px;
}

#search-button {
  padding:25px 40px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 45%; /* Make the button round */
  text-decoration: none;
}
#search-button:hover {
  color: #fb1c1c;
}


.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.movie-item h2 {
  font-size: 16px;
  margin-top: 10px;
  color: #ff0000; /* Byt ut med den färg du önskar använda, t.ex. röd (#ff0000) */
  text-decoration: none;

}
.movie-item h2:hover {
  color: #fb1c1c;
}

.movie-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-item button {
  margin-top: auto;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.movie-item button:hover {
  background-color: #555;
}

.movie-item p.article-content {
  flex-grow: 1;
}





.footer-navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}


.footer-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-link:hover {
  text-decoration: underline;
}





/* articals  */


.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articalsOnHomePage {
  width: calc(25% - 20px); /* Set the width for each article card with 20px margin */
  border: 1px solid #595959;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

/* Adjust the width and margin of the article cards for smaller screens */
@media (max-width: 768px) {
  .articalsOnHomePage {
    width: calc(50% - 20px);
  }
}

/* Adjust the width and margin of the article cards for even smaller screens */
@media (max-width: 480px) {
  .articalsOnHomePage {
    width: calc(100% - 20px);
  }
}



.article-title {
  margin-top: 0;
}

.article-title a {
  text-decoration: none;
  color: #333;
}

.article-date {
  color: #777;
  font-style: italic;
  margin-bottom: 5px;
}
.artical-image-text{
  color: #595959;
  font-style: italic;
  font-size:11px ;
}

.article-image {
  max-width: 100%;
  height: auto;
}

.article-image:hover {
  opacity: 0.8;
}



/* Standardstorlek för banner */
.ad-banner img {
  width: 100%; /* eller en specifik bredd i pixel */
  height: auto; /* behåller bildförhållandet */
  
}

/* Media Query för mobila enheter */
@media (max-width: 600px) {
  .ad-banner img {
      width: 100%; /* eller en annan procentandel/px-storlek som passar för mobila enheter */
      height: auto;
      justify-content: center;
  }
}



.flag-icon {
  width: 24px;
  height: 16px;
  margin-right: 5px;
}
.flag-icon-IL {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/il.svg");
}

.flag-icon-LT {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/lt.svg");
}

.flag-icon-SK {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/sk.svg");
}

.flag-icon-AR {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ar.svg");
}

.flag-icon-IS {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/is.svg");
}

.flag-icon-MX {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/mx.svg");
}

.flag-icon-HK {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/hk.svg");
}

.flag-icon-BE {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/be.svg");
}

.flag-icon-CH {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ch.svg");
}

.flag-icon-GR {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/gr.svg");
}

.flag-icon-CZ {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/cz.svg");
}

.flag-icon-KR {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/kr.svg");
}

.flag-icon-PL {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/pl.svg");
}

.flag-icon-RU {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ru.svg");
}

.flag-icon-NL {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/nl.svg");
}

.flag-icon-SE {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/se.svg");
}

.flag-icon-SG {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/sg.svg");
}

.flag-icon-PT {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/pt.svg");
}

.flag-icon-ZA {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/za.svg");
}


.flag-icon-IT {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/it.svg");
}

.flag-icon-TH {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/th.svg");
}

.flag-icon-HU {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/hu.svg");
}

.flag-icon-TR {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/tr.svg");
}

.flag-icon-MY {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/my.svg");
}

.flag-icon-CO {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/co.svg");
}

.flag-icon-PH {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ph.svg");
}

.flag-icon-UA {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ua.svg");
}

.flag-icon-AU {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/au.svg");
}

.flag-icon-CA {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ca.svg");
}

.flag-icon-JP {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/jp.svg");
}

.flag-icon-FR {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/fr.svg");
}

.flag-icon-IN {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/in.svg");
}

.flag-icon-DE {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/de.svg");
}

.flag-icon-ES {
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/es.svg");
}

.flag-icon-BR{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/br.svg");
}

.flag-icon-RO{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ro.svg");
}

.flag-icon-KR{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/kr.svg");
}

.flag-icon-ZA{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/za.svg");
}
.flag-icon-RU{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/ru.svg");
}
.flag-icon-US{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/us.svg");
}

.flag-icon-GB{
  background-image: url("https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/flags/4x3/gb.svg");
}


















.loader {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #F40000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
  display: none;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}




/* Media queries för responsiv design */
@media screen and (max-width: 1200px) {
  .movie-item {
    width: 60%;
    /* Övriga stilar */
  }
}

@media screen and (max-width: 992px) {
  .movie-item {
    width: 80%;
    /* Övriga stilar */
  }
}



@media screen and (max-width: 768px) {
  .metadata {
    font-size: 12px; /* Minska textstorleken */
    padding-left: 30px; /* Justera vänster padding om nödvändigt */
    padding-right: 30px; /* Justera höger padding om nödvändigt */
    /* Du kan lägga till ytterligare stilar här om du vill */
  }
  .p {
    font-size: 12px; /* Minska textstorleken */
    padding-left: 30px; /* Justera vänster padding om nödvändigt */
    padding-right: 30px; /* Justera höger padding om nödvändigt */
    /* Du kan lägga till ytterligare stilar här om du vill */
  }

  .content-container {
    max-width: 600px; /* eller en annan bredd du föredrar */
    margin: auto;
    font-size: 12px;
    padding: 0 20px; /* lägger till lite utrymme på sidorna */
  }

  .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
  }
  .search-container {
    font-size: 200%; /* Ökar fontstorleken till 110% av ursprunglig storlek */
    /* Justera andra storleksrelaterade stilar efter behov, t.ex. padding, margin */
  }
  
  #search-button {
    padding: 20px 35px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 45%; /* Make the button round */
    text-decoration: none;
  }
  #search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    margin-right: 5px;
  }
  .articles-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-item {
    width: 60px;
    border-color: #000;
    
    /* Övriga stilar */
  }

  .top-navbar {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}




.movie-item {
  /* Använd flexbox eller grid för layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-item p {
  /* Sätt maximal höjd och tillåt rullning */
  max-height: 100px;
  overflow: hidden;
}

.movie-item .synopsis {
  /* Klipp text och visa '...' för långa texter */
  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%; /* Make the button round */
  text-decoration: none;
}
.search-button:hover {
  color: #fb1c1c;
}
















